.mapLeafte{
    height: 550px;
    width: 1000px;
    background-color: white;
    /*padding: 0.5rem;*/
    border-radius: 15px;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
}

.mapLeafte .leaflet-container{
    height : 100%;
    border-radius: 8px;
}

.infoCountryName {
    margin-top : 5px;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.infoPopContainer {
    width: 150px;
}

.infoFlag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 3px;
}

.infoCasesType {
    font-size: 16px;
    margin-top: 5px;
}